/***************/
/**** RESET ****/
/***************/


*:not(img ,p){
    padding: 0;
    box-sizing: border-box;
    font-family:  'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0 auto;
    font-weight: bold;
}


/******************/
/**** GENERAL *****/
/******************/


.white-button {
    all: unset;
    padding: 10px 15px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 50px;
}

.black-button {
    all: unset;
    padding: 10px 15px;
    background-color: #23272a;
    color: #ffffff;
    border-radius: 50px;
}

.blue-button {
    all: unset;
    padding: 10px 15px;
    background-color: #7288da;
    color: #ffffff;
    border-radius: 50px;
}


.border {
    border: 2px dashed #000000;
}

.border-w {
    border: 1px dashed #ffffff;
}

.section {
    padding: 50px 0;
}

.bg-white {
    background-color: #ffffff;
}

.bg-gray {
    background-color: #d3d3d3;
}

.bg-pink {
    background-color: #ffc0cb;
}

.bg-green {
    background-color: #228b22;
}

.bg-black {
    background-color: #23272a;
}

.bg-green {
    background-color: #20b2aa;
}

.bg-lightteal {
    background-color: #7fffd4;
}

.txt-center {
    text-align: center;
}

.debugger {
    height: 500px;
}

/*****************/
/**** HEADER *****/
/*****************/


header h2 {
    font-size: 50px;
    line-height: 95px;
}

header p {
    font-size: 25px;
    line-height: 40px;
}

header {
    background-color: #255ee9;
    padding-top: 10px;
    color: #ffffff;
}

.header-nav {
    display: flex;
    max-width: 1200px;
    margin: 0 auto 10px auto;
    align-items: center;
}

.header-nav > div {
    padding: 5px;
}

.header-logo {
    flex-grow: 1;
}

.header-link {
    flex-grow: 3;
    justify-content: center;

}

.header-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 5px;
}

.header-login {
    text-align: end;
    flex-grow: 1;
}

.header-box {
    max-width: 900px;
    padding-top: 125px;
}

.jumbo {
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}

.buttons-header {
    display: flex;
    padding-top: 25px;
    justify-content: center;
    gap: 25px;
}

/*****************/
/****** MAIN *****/
/*****************/


.box-section {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: self-start;
}

.double-box-section {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.box1 {
    flex-basis: 60%;
}

.box2 {
    flex-basis: 40%;
    padding-top: 20px;
}

.inverted {
    flex-direction: row-reverse;
}

main h2 {
    font-size: 50px;
}

main p {
    padding-top: 20px;
    line-height: 30px;
}

main img + p {
    padding: 0 0 50px;
    font-size: 25px;
    line-height: 0;
}

/*****************/
/***** FOOTER ****/
/*****************/

footer h2 {
    font-size: 50px;
    color: #7288da;
    padding-bottom: 30px;;
}

footer p, footer li {
    color: #ffffff;
}

.footer-upper-section {
    padding: 5px 0 50px 0;
}

.footer-box1 {
    flex-basis: 30%;
    padding-top: 60px;
}

.footer-box2 {
    flex-basis: 70%;
    display: flex;
    padding-top: 60px;
}

.inside-box {
    flex-basis: 25%;
}

.footer-down-section {
    max-width: 1200px;
    padding-top: 10px;
    border-top: #7288da solid 2px;
    padding-bottom: 50px;
}

.footer-box-section {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.footer-logo {
    padding: 5px;
    margin: 0;
}

.footer-button {
    all: unset;
    border: #000000 dashed 2px;
    padding: 5px;
    background-color: #ffc0cb;
}

footer .lang img {
    height: 20px;
    padding: 3px;
}

.lang {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.icons-list {
    display: flex;
    list-style-type: none;
    gap: 25px;
    font-size: 30px;
    padding: 3px;
}

.lists-box2 {
    list-style-type: none;
}

.list-title {
    color: #7288da;
}

li {
    margin: 0;
}

.lists-box2 li {
    margin-bottom: 10px;

}
